/* Estilos generales */
body {
    font-family: 'Pacifico', cursive;
    background-color: #f4e7e7; /* Color de fondo */
    text-align: center;
    margin: 0;
    padding: 0;
    color: #5c5c5c; /* Color de texto general */
}

header {
    background-color: #ff69b4; /* Color de fondo del encabezado */
    color: #1e03b6fd; /* Texto blanco */
    padding: 20px 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px; /* Tamaño de fuente del título */
    margin: 0;
}

p {
    font-size: 28px;
    color: #1e05ff; /* Color de texto rosa */
}

/* Estilos de la sección de fotos */
.contenedor-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.diapositiva {
    margin: 20px;
    text-align: center;
}

.foto {
    max-width: 100%;
    height: auto;
    border: 10px solid #ff69b4; /* Borde rosa alrededor de las imágenes */
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.6); /* Sombra suave rosa */
}

.mensaje {
    font-family: 'Dancing Script', cursive;
    font-size: 35px; /* Tamaño de fuente para los mensajes */
    color: #045569fd; /* Color del texto rosa */
    margin-top: 10px;
}

/* Estilos de los botones */
#anterior,
#siguiente {
    background-color: #ff69b4; /* Color de fondo de los botones rosa */
    color: #fff; /* Texto blanco */
    padding: 12px 24px; /* Espacio interno de los botones */
    border: none;
    font-family: 'Pacifico', cursive;
    font-size: 24px; /* Tamaño de fuente de los botones */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
    margin: 10px;
}

#anterior:hover,
#siguiente:hover {
    background-color: #ff4785; /* Cambio de color al pasar el cursor sobre los botones */
}

footer {
    background-color: #ff69b4; /* Color de fondo del pie de página rosa */
    color: #fff; /* Texto blanco */
    padding: 20px 0;
}
